/* ---------------------------------------------------------------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* remove spinner on input type=[number] */
	-webkit-appearance: none;
	margin: 0;
}
/* ---------------------------------------------------------------------------------------------------- */
/* for table generator */
.tg table {
	margin: 0 auto;
}

.tg th,
.tg tr,
.tg td {
	border: 1px solid white;
	color: white;
	background-color: #1b1b1b;
}

.tg .inputLabel {
	margin: 4px 0 4px;
	width: 140px;
	border: 1px solid #1b1b1b;
	background-color: #1b1b1b;
}

.tg .numInp {
	margin: 4px 4px 4px 0;
	background-color: #1b1b1b;
	border: 1px solid #1b1b1b;
	text-align: center;
	color: white;
}

.tg .inputLabel,
.tg .numInp,
.tg .createTable {
	padding: 4px 16px;
}



.tg .createTable,
.tg .gridButton,
.tg .copyBtn {
	transition: 0.5s;
	color: orange;
	background-color: #1b1b1b;
}

.tg .createTable:hover,
.tg .gridButton:hover,
.tg .copyBtn:hover {
	color: white;
}

.tg .language-markup {
	height: 200px;
	background-color: #1b1b1b;
}

.tg .tableGrid {
	margin: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid orange;
	transition: 0.2s;
}

.tg .tableGrid:hover {
	background-color: orange;
	/* transform: scale(1.4); */
	cursor: pointer;
}

.tg .dropdown-menu.tgGridDowpdown {
	background-color: #1b1b1b;
	border: 1px solid orange;
	padding: 8px;
}

.tg .dropdown-item.tgGridDowpdown {
	background-color: #1b1b1b;
}

/* ---------------------------------------------------------------------------------------------------- */
/* for NAV AND FOOTER */
.navbar.navbar-expand-lg.navbar-dark.O,
.footer.py-3.O.mt-5 {
	border-top: 2px solid orange;
}

.navbar.navbar-expand-lg.navbar-dark.O.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: 0 0.1333333333rem 0.2rem rgba(0,0,0,0.7);
}

.navImg {
	width: 50px;
	border: 2px solid;
	box-shadow: 0 0 15px 0.1px orange;
	border-radius: 30px;
	border-color: orange;
	margin: 5px 25px 5px 0;
}

.navImg:hover {
	cursor: pointer;
}

.btn.btn-secondary.dropdown-toggle.D {
	border: unset;
	margin: 2px 4px 0 4px;
	background-color: #1b1b1b;
	color: rgba(255,255,255,.5);
}

.btn.btn-secondary.dropdown-toggle.D:hover {
	color: white;
}

.dropdown-menu.show.dropdownNav {
	background-color: #1b1b1b;

	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	border-right: 1px solid orange;
	border-top: 1px solid orange;

	margin-top: -2px;
	margin-left: -1px;
	border-top-left-radius: 0;
}

.dropdown-item:hover.dropdownNav {
	background: #1b1b1b;
	color: white;
}

.dropdown.dropdownNav,
.nav-link {
	border: 1px solid #ffffff00;
}

.dropdown.show.dropdownNav {
	border-top: 1px solid orange;
	border-right: 1px solid orange;
	border-left: 1px solid orange;
	border-radius: 4px;
}

.nav-item,
.dropdown-item.dropdownNav {
	transition: 0.5s;
}

.orangeText,
.dropdown-item.dropdownNav {
	color: orange;
}

.show > .btn-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary.focus, .btn-secondary:focus,
.btn:focus,
.btn-secondary.focus,
.btn-secondary:focus {
	box-shadow: unset;
}
/* ---------------------------------------------------------------------------------------------------- */

html,
body {
	font-size: 1em;
	/* background-color: #2b2b2b; */
	background-image: linear-gradient(to top, #005248, #005166, #004980, #44357e, #7c0056);
	/* background-image: linear-gradient(to top, #1b1b1b, #242424, #2e2e2e, #383838, #424242); */
	color:white;
}

.jumbotron.jumbotron-fluid.headText,
nav,
footer {
	background-color: #1b1b1b;
}

.jumbotron.jumbotron-fluid.headText {
	margin-bottom: unset;
}

.headText,
.carouselHeader,
.postText,
.postHeader {
	color: white;
}



.postInfo {
	background-color: #1b1b1b;
	text-decoration: none;
	color: orange;
	border-radius: 5px;
	width: 180px;
	height: 32px;
	text-align: center;
	padding: 6px 16px;
	font-weight: 100;
	font-size: 0.8em;
	transition: 0.5s;
}

a.postInfo:hover {
	text-decoration: none;
	color: white;
}

.card.w-75.mx-auto.mb-4 {
	background-color: #1b1b1bcc;
	color: white;
	border-left: 2px solid orange;
}

.card-header {
	border-bottom: 1px solid rgba(255,165,0,.125);
}

hr {
	border-top: 1px solid rgba(255,165,0,.125);
}

/* .carousel-caption.d-none.d-md-block.D {
	background-color: #1b1b1b;
	border-radius: 10px;
	border: 2px solid orange;
} */

/* .carouselImg {
	align-self: center;
	width: 100%;
} */



