:root {
	--background: #252423;

	--danger: #ff4444;
	--warning: #ffbb33;
	--success: #00C851;
	--info: #33b5e5;
	--primary: #4285F4;
	--secondary: #aa66cc;
	--default: #2BBBAD;

	--black: #000;
	--white: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	color: var(--white);
	text-shadow: 1px 4px 3px rgba(0,0,0,0.2);
}

body {background-color: var(--background);}
::selection {background: var(--warning);}
::-moz-selection {background: var(--warning);}

.background {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

/* - - - - - - - - - - - - - - - - - - - - - - */
.slide-right {
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	padding: 0.5em 1em;
	outline: none;
	border: none;
}
.slide-right::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform-origin: center right;
	transform: scaleX(0);
	transition: transform 0.25s ease-in-out;
}
.slide-right:hover {
	cursor: pointer;
	color: var(--black);
	transition: .5s;
}
.slide-right:hover::before {
	transform-origin: center left;
	transform: scaleX(1);
}
.slide-right.slideColor-success::before {background-color: var(--success);}
.slide-right.slideColor-info::before {background-color: var(--info);}
.slide-right.slideColor-danger::before {background-color: var(--danger);}
.slide-right.slideColor-warning::before {background-color: var(--warning);}
.slide-right.slideColor-white::before {background-color: var(--white);}
.slide-right.slideColor-primary::before {background-color: var(--primary);}
.slide-right.slideColor-secondary::before {background-color: var(--secondary);}
.slide-right.slideColor-default::before {background-color: var(--default);}

.bubble {
	z-index: 1;
	position: relative;
	font-size: inherit;
	font-family: inherit;
	padding: 0.5em 1em;
	outline: none;
	border: none;
	overflow: hidden;
	transition: color 0.4s ease-in-out;
}
.bubble::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.25s ease-in-out;
}
.bubble:hover {
	cursor: pointer;
	color: #161616;
}
.bubble:hover::before {transform: translate(-50%, -50%) scale(15);}

.bubble.bubble-success::before {background-color: var(--success);}
.bubble.bubble-info::before {background-color: var(--info);}
.bubble.bubble-danger::before {background-color: var(--danger);}
.bubble.bubble-warning::before {background-color: var(--warning);}
.bubble.bubble-white::before {background-color: var(--white);}
.bubble.bubble-primary::before {background-color: var(--primary);}
.bubble.bubble-secondary::before {background-color: var(--secondary);}
.bubble.bubble-default::before {background-color: var(--default);}
/* - - - - - - - - - - - - - - - - - - - - - - */
.title1,
.logo1,
.plustext,
.link {
	transition: 0.4s ease;
}

.title1 {font-size: 3em;}

.title1,
.innerLabel,
.plustext {
	font-weight: 100;
}

a.link:link { COLOR: black; text-decoration: none;}
a.link:visited { COLOR: black; text-decoration: none;}
a.link:active { COLOR: black; text-decoration: none }
a.link:hover {color: black !important; text-decoration: none;}

.test_container {
	background: var(--black);
	display: grid;
	grid-gap: 1px;
	padding: 1px;
	grid-template-columns: repeat(9, minmax(1fr, 1fr));
	grid-template-rows: repeat(10, minmax(1fr, 1fr));
	grid-template-areas:
	"logo1 logo1 title title title title title title"
	"logo1 logo1 title title title title title title"
	"plus plus plus plus plus plus plus plus"
	"nav1 nav2 nav3 nav4 nav5 nav6 nav7 nav8"
	"item1 item1 item1 item1 link1 link1 link1 link1"
	"item1 item1 item1 item1 link2 link2 link2 link2"
	"item1 item1 item1 item1 link3 link3 link3 link3"
	"item1 item1 item1 item1 link4 link4 link4 link4"
	"item1 item1 item1 item1 link5 link5 link5 link5";
}

.logo1 {background-color: var(--background);}

.plustext {
	background-image: linear-gradient(to right, var(--background), var(--warning));
	padding-left: 20px;
	justify-content: start;
	word-break: break-word;
}

.innerLabel {font-size: 2.4em;}

.lineText {display: inline-block;}

.label {
	align-items: center;
	display: flex;
	justify-content: center;
}

.title1,
.nav1,
.nav2,
.nav3,
.nav4,
.nav5,
.nav6,
.nav7,
.nav8,
.link1,
.link2,
.link3,
.link4,
.link5 {
	padding: 20px;
	background-color: var(--background);
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.label {
	grid-area: item1;
	background-color: var(--background);
}
.logo1 {grid-area: logo1;}
.title1 {grid-area: title;}
.plustext {grid-area: plus;}
.nav1 {grid-area: nav1;}
.nav2 {grid-area: nav2;}
.nav3 {grid-area: nav3;}
.nav4 {grid-area: nav4;}
.nav5 {grid-area: nav5;}
.nav6 {grid-area: nav6;}
.nav7 {grid-area: nav7;}
.nav8 {grid-area: nav8;}
.link1 {grid-area: link1;}
.link2 {grid-area: link2;}
.link3 {grid-area: link3;}
.link4 {grid-area: link4;}
.link5 {grid-area: link5;}
/* - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 700px) {
	.test_container {
		grid-template-areas:
			"logo1 title title title"
			"plus plus plus plus"
			"nav1 nav2 nav3 nav4"
			"nav5 nav6 nav7 nav8"
			"item1 item1 item1 item1"
			"link1 link1 link1 link1"
			"link2 link2 link2 link2"
			"link3 link3 link3 link3"
			"link4 link4 link4 link4"
			"link5 link5 link5 link5";
		grid-template-rows: none;
	}
	.title1 {font-size: 1em;}
	.innerLabel {font-size: 1em;}
	.logo1,
	.plustext {
		font-size: 0.7em;
	}

	.innerText {font-size: 0.7em;}
	.navSelectorText {
		visibility: hidden;
		clear: both;
	}

	.nav1,
	.nav2,
	.nav3,
	.nav4,
	.nav5,
	.nav6,
	.nav7,
	.nav8 {
		max-height: 35px;
		padding: 10px;
	}
	.label {
		padding: 20px;
		justify-content: start;
	}
}

